.container{
    background: #070707;
}
*{
    scrollbar-color: #0f0f0f #070707;
    scrollbar-width:thin;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.navbar-opcion{
    text-decoration: none;
    color: white;
    width: 100%;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    padding:5px;
    padding-inline: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.navbar-opcion:hover{
    border: 1px solid rgba(255, 255, 255, 0.616);
    background: rgba(0, 0, 0, 0);
    cursor:pointer ;
}

#menu_navbar{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 120%;
    padding: 3%;
    border-radius: 20px;
}
/* 
li{ 
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    margin-right: 10%;
    list-style-type:none;
} */

.div_descarga{
    a{
        color: rgba(78, 78, 78, 0.699);
        font-size: 16px;
        font-weight: bold;
        
    }
}
#btn_descargar_cv{
    /* background: #e23636; */
    padding: 5px;
    padding-inline: 20px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid rgba(78, 78, 78, 0.699);
    animation: borde 3s infinite;
}
#btn_descargar_cv:hover{
    color: rgb(107, 105, 105);
    border: 2px solid rgb(107, 105, 105);
}

@keyframes borde {
    from{
        border-color: rgb(107, 105, 105);
    }to{
        border-color: rgb(150, 150, 150);
        color: rgb(150, 150, 150);
    }
}
/* .div_descarga a:hover{
    font-size: 25px;
} */
.imagen{
    width: 200px;
    border-radius: 50%;
}
#sobre_mi{
    margin-top: 70px;
}

#descripcion{
    margin-top: 20px;
    text-align:start ;
    margin-top: 20px;
    color: white;
}

#habilidades{
    color: white;
    div{
        p{
            display: grid;
            place-items: center;
        }
    }
}
.descripcion_proyecto{
    font-size: 13px;
}
.icon{
    font-size: 40px;
    margin-bottom: 5px;
    /* border: 1px solid #0f0f0f; */
    padding: 5px;
}
.div_habilidad{
    background: rgba(0, 0, 0, 0.637);
    width: 100%;
}
.div_html{
    box-shadow: 1px 1px 5px 0.1px orangered;
}
.div_css{
    box-shadow: 1px 1px 5px 0.1px rgb(20, 72, 184);
}
.div_bootstrap {
    box-shadow: 1px 1px 5px 0.1px purple;
}
.div_js {
    box-shadow: 1px 1px 5px 0.1px yellow;
}
.div_java {
    box-shadow: 1px 1px 5px 0.1px red;
}
.div_python {
    box-shadow: 1px 1px 5px 0.1px rgb(0, 14, 94);
}
.div_laravel {
    box-shadow: 1px 1px 5px 0.1px rgb(122, 1, 1);
}
.div_sql {
    box-shadow: 1px 1px 5px 0.1px rgba(255, 208, 0, 0.925);
}
.input_form_contacto{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background: #0f0f0f;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.mensaje_form_textarea{
    height: 200px;
}

.label_mensaje{
    font-size: 20px;
}

.btn_enviar_mensaje{
    background: #000000;
    border-radius: 10px;
    padding-inline: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border:1px solid rgba(53, 51, 51, 0.726);
}
.btn_enviar_mensaje:hover{
    background: rgba(53, 53, 53, 0.295);
    font-weight: bold;
}
.icon_redes{
    text-decoration: none;
    font-size: 40px;
    color: rgba(78, 78, 78, 0.699);
    animation: borde 3s infinite;
}

.icon_redes:hover{
    color: rgba(255, 255, 255, 0.568);
}

@media (min-width: 960px){
    .imagen_proyecto{
        height: 320px;
    }
}

.proyecto {
    transition: transform 0.2s ease-in-out;
}

.proyecto:hover {
    transform: scale(1.1);
}